<nav class="navbar">
  <ul>
    <button>
      <li><%= link_to 'Inicio', root_path %></li>
    </button>
        <button>
      <li><%= link_to 'Sign-in', new_user_session_path %></li>
    </button>
    <button>
      <li><%= link_to 'Sign-up', new_user_registration_path %></li>
    </button>
  </ul>
</nav>